# local credentials
credentials.properties

# Vim
*.sw[op]

# Gradle
.gradle
build

# IDEA
out
.idea
!.idea/codeStyleSettings.xml
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/
bin

# Maven
*.log
log/
target/

# Output
database-test
logs
test_db*
rskj-core/networkStateExporterTest.json

# Mac
.DS_Store


# Local configuration
**/user.conf
**/out.log

# Nodes
node1
node2
node3
devnet-federator
testnet1
rsk-database
blocksminer

# Jacoco Reports
jacocoHtml/

# CheckStyle Reports
config/checkstyle/reports/

# PMD
config/pmd/reports/

blocksminer1.txt

blocksminer1.txt

# Test File
fileMonitor.txt

rpc-tests/node_modules/
samples/tokenapp/node_modules/
rskdump.json

rskj-core/keyfiletest.txt
rskj-core/java/

#GradleJARS
rskj-core/libs/gradle-witness.jar
rskj-core/libs/rsk-gradle-witness.jar
rskj-core/networkStateExporterTest.json
gradle/wrapper/gradle-wrapper.jar

#Classes
classes/

#Infer
infer-out/
