version: 2

jobs:
  build:
    docker:
      - image: openjdk:8-jdk
    environment:
      _JAVA_OPTIONS: "-Xmx3G -Xms2G"
      SONAR_VERSION: "3.0.3.778"
    resource_class: medium+
    steps:
      - checkout
      - run: apt update -y && apt install -y gnupg2
      - run: curl -sSL https://secchannel.rsk.co/release.asc | gpg2 --import -
      - run: gpg2 --verify SHA256SUMS.asc && sha256sum --check SHA256SUMS.asc
      - run: curl -OJL http://central.maven.org/maven2/org/sonarsource/scanner/cli/sonar-scanner-cli/$SONAR_VERSION/sonar-scanner-cli-$SONAR_VERSION.jar
      - run: ./configure.sh
      - run: ./gradlew --no-daemon dependencies
      - run: ./gradlew --no-daemon --stacktrace build
      - run:
          name: Save test results
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/junit/ \;
          when: always
      - store_test_results:
          path: ~/junit
      - store_artifacts:
          path: ~/junit
      - run: if [ ! -z $CI_PULL_REQUEST ]; then  export PULL_REQUEST=$(echo $CI_PULL_REQUEST | awk '{print substr($1,39)}') && java -jar ./sonar-scanner-cli-$SONAR_VERSION.jar -Dsonar.pullrequest.provider=github -Dsonar.pullrequest.base=master -Dsonar.pullrequest.branch=$CIRCLE_BRANCH -Dsonar.pullrequest.key=$PULL_REQUEST -Dsonar.projectKey=rsksmart_rskj -Dsonar.organization=rsksmart -Dsonar.projectKey=rsksmart_rskj -Dsonar.organization=rsksmart -Dsonar.host.url=$SONAR_URL -Dsonar.login=$SONAR_TOKEN -Dsonar.sources="rskj-core/src/main/java,rskj-core/src/main/resources" -Dsonar.java.binaries="rskj-core/build/classes/java/main"; fi
