<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listDEBUG/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration debug="false" scan="true" scanPeriod="3600 seconds">

    <!-- Stdout appender -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <Pattern>
                %date{yyyy-MM-dd-HH:mm:ss.SSSS} %p [%c{1}] [%thread]%replace( [%mdc{}]){' \[\]', ''}  %m%n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.stdout:-OFF}</level>
        </filter>
    </appender>

    <!-- Stdout appender for CLI tools -->
    <appender name="STDOUT_CLI_TOOL" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <Pattern>
                %date{yyyy-MM-dd-HH:mm:ss.SSSS} %p [%c{1}] [%thread]%replace( [%mdc{}]){' \[\]', ''}  %m%n
            </Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.stdout.clitools:-DEBUG}</level>
        </filter>
    </appender>

    <!-- File appender -->
    <appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.dir:-./logs}/rsk.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- we use the replace pattern to allow wrapping mdc keys in [] while avoiding outputting an empty [] if none -->
            <Pattern>
                %date{yyyy-MM-dd-HH:mm:ss.SSSS} %p [%c{1}] [%thread]%replace( [%mdc{}]){' \[\]', ''}  %m%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/rskj-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging:-TRACE}</level>
        </filter>
    </appender>

    <!-- Loggers -->
    <logger name="execute" level="DEBUG"/>
    <logger name="blockvalidator" level="DEBUG"/>
    <logger name="blockexecutor" level="DEBUG"/>
    <logger name="general" level="DEBUG"/>
    <logger name="gaspricetracker" level="DEBUG"/>
    <logger name="web3" level="DEBUG"/>
    <logger name="repository" level="DEBUG"/>
    <logger name="VM" level="DEBUG"/>
    <logger name="blockqueue" level="DEBUG"/>
    <logger name="io.netty" level="DEBUG"/>
    <logger name="block" level="DEBUG"/>
    <logger name="minerserver" level="DEBUG"/>
    <logger name="txbuilderex" level="DEBUG"/>
    <logger name="pendingstate" level="DEBUG"/>
    <logger name="hsqldb.db" level="DEBUG"/>
    <logger name="TCK-Test" level="DEBUG"/>
    <logger name="db" level="DEBUG"/>
    <logger name="net" level="DEBUG"/>
    <logger name="start" level="DEBUG"/>
    <logger name="cli" level="DEBUG"/>
    <logger name="txs" level="DEBUG"/>
    <logger name="gas" level="DEBUG"/>
    <logger name="main" level="DEBUG"/>
    <logger name="trie" level="DEBUG"/>
    <logger name="peermonitor" level="DEBUG"/>
    <logger name="bridge" level="DEBUG"/>
    <logger name="rlp" level="DEBUG"/>
    <logger name="messagehandler" level="DEBUG"/>
    <logger name="sync" level="DEBUG"/>
    <logger name="BtcToRskClient" level="DEBUG"/>
    <logger name="ui" level="DEBUG"/>
    <logger name="java.nio" level="DEBUG"/>
    <logger name="org.eclipse.jetty" level="DEBUG"/>
    <logger name="wire" level="DEBUG"/>
    <logger name="BridgeSupport" level="DEBUG"/>
    <logger name="jsonrpc" level="DEBUG"/>
    <logger name="wallet" level="DEBUG"/>
    <logger name="blockchain" level="DEBUG"/>
    <logger name="blockprocessor" level="DEBUG"/>
    <logger name="asyncblockprocessor" level="DEBUG"/>
    <logger name="state" level="DEBUG"/>
    <logger name="org.bitcoinj" level="DEBUG"/>
    <logger name="metrics" level="DEBUG"/>
    <logger name="messageProcess" level="DEBUG"/>
    <logger name="co.rsk.db.migration.OrchidToUnitrieMigrator" level="DEBUG"/>
    <logger name="co.rsk.db.migration.MissingOrchidStorageKeysProvider" level="DEBUG"/>
    <logger name="blooms" level="DEBUG"/>
    <logger name="triestore" level="DEBUG" />
    <logger name="btcBlockStore" level="DEBUG" />
    <logger name="secp256k1" level="DEBUG" />
    <logger name="altbn128" level="DEBUG" />
    <logger name="co.rsk.net.discovery.PeerExplorer" level="DEBUG" />
    <logger name="co.rsk.net.discovery.NodeChallengeManager" level="DEBUG" />
    <logger name="co.rsk.RskContext" level="DEBUG" />

    <!-- Use DEBUG or upper levels for production environments. -->
    <logger name="com.googlecode.jsonrpc4j" level="DEBUG" />

    <!-- Logger for CLI tools -->
    <logger name="clitool" level="DEBUG" additivity="false" >
        <appender-ref ref="STDOUT_CLI_TOOL"/>
        <appender-ref ref="FILE-AUDIT"/>
    </logger>

    <!-- Root logger -->
    <root level="DEBUG">
        <appender-ref ref="stdout"/>
        <appender-ref ref="FILE-AUDIT"/>
    </root>
</configuration>
