name: Docker image validation

on:
  pull_request:
    paths:
      - 'Dockerfile'
      - '.github/workflows/docker-verification.yml'
    types: [opened, synchronize, reopened]

# Declare default permissions as read only.
permissions: read-all

jobs:
  docker:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 #v4.2.1

      - name: Build Docker image for validation
        run: |
          docker build -t rsksmart/rskj:latest .

      - name: Run Docker container
        run: |
          docker run -d --name rskj-container rsksmart/rskj:latest --regtest

      - name: Check Docker container built
        run: |
          if [ $(docker inspect -f '{{.State.Running}}' rskj-container) = "true" ]; then
            echo "Container is running properly"
          else
            echo "Container failed to start"
            exit 1
          fi